@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f0f4f8;
    background-image: url("syd-wachs-slItfWbhijc-unsplash.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #3b3030;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
    background-color: #e3efe4;
}

header h1 {
    margin: 0;
    color: #333;
}

header input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

header button {
    padding: 10px 15px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

header button:hover {
    background: #2c3f31;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li .delete-btn {
    background: #190709;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

ul li .delete-btn:hover {
    background: #c82333;
}
